@use "../abstracts/breakpoints";

.v-card {
    &-text {
        font-size: inherit !important;
        line-height: inherit !important;
    }

    & .card-description {
        min-height: 9rem;
    }

    & .v-card-subtitle {
        color: var(--black);
        opacity: 1;
    }  
}

.card-space {
     margin: 2.4rem;
     padding: 2.4rem;

    //  @include breakpoints.respond('phone') {
    //     padding: 1.2rem;
    //  }
}

.card-grid-spacing {
    padding: 1rem 1rem 1rem 1rem;

    @include breakpoints.respond('phone') {
        padding: 1rem 0rem 1rem 0rem;
    }
}