.v-card {
    &-text {
        font-size: inherit !important;
        line-height: inherit !important;
    }

    & .card-description {
        min-height: 17rem;
    }

    & .v-card-subtitle {
        color: var(--black);
        opacity: 1;
    }  
}

.card-space {
     margin: 2.4rem;
     padding: 2.4rem;


}