:root {

    --black: #303030;
    --white: #fafafa;

    --blue: #614BF2;
    --purple: #B1A7F2;
    --green: #89D9A5;
    --yellow: #F2E7C4;
    --red: #F28080;

    --blue-shade: #1E0B99;
    --purple-shade: #3B22DE;
    --green-shade: #319855;
    --yellow-shade: #D6B447;
    --red-shade: #C51414;

}

/* Color Theme Swatches in Hex */
// .A-Small-World-of-Great-People---Brand-Animation-1-hex { color: #614BF2; }
// .A-Small-World-of-Great-People---Brand-Animation-2-hex { color: #B1A7F2; }
// .A-Small-World-of-Great-People---Brand-Animation-3-hex { color: #89D9A5; }
// .A-Small-World-of-Great-People---Brand-Animation-4-hex { color: #F2E7C4; }
// .A-Small-World-of-Great-People---Brand-Animation-5-hex { color: #F28080; }

/* Color Theme Swatches in RGBA */
// .A-Small-World-of-Great-People---Brand-Animation-1-rgba { color: rgba(97, 75, 242, 1); }
// .A-Small-World-of-Great-People---Brand-Animation-2-rgba { color: rgba(177, 167, 242, 1); }
// .A-Small-World-of-Great-People---Brand-Animation-3-rgba { color: rgba(136, 216, 164, 1); }
// .A-Small-World-of-Great-People---Brand-Animation-4-rgba { color: rgba(242, 230, 196, 1); }
// .A-Small-World-of-Great-People---Brand-Animation-5-rgba { color: rgba(242, 128, 128, 1); }

/* Color Theme Swatches in HSLA */
// .A-Small-World-of-Great-People---Brand-Animation-1-hsla { color: hsla(247, 86, 62, 1); }
// .A-Small-World-of-Great-People---Brand-Animation-2-hsla { color: hsla(247, 74, 80, 1); }
// .A-Small-World-of-Great-People---Brand-Animation-3-hsla { color: hsla(140, 51, 69, 1); }
// .A-Small-World-of-Great-People---Brand-Animation-4-hsla { color: hsla(45, 64, 85, 1); }
// .A-Small-World-of-Great-People---Brand-Animation-5-hsla { color: hsla(0, 81, 72, 1); }
