@use "../abstracts/breakpoints";

p {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

// .v-container {
//     // max-width: 100rem !important;
// } 

.title-banner {
    // background-color: #f28080f4;    
    background-color: #303030f4;    
    padding: .5rem;
}

.yellowBackground {
    background-color: var(--yellow) !important;
}

.redBackground {
    background-color: var(--red) !important;

    & h2 {
        color: var(--white);
    }   
}

.purpleBackground {
    background-color: var(--purple) !important;

    & h2 {
        color: var(--white);
    }   
}

.blueBackground {
    background-color: var(--blue) !important;

    & p {
        color: var(--white);
    }
}

// .v-container {
//     @include breakpoints.respond('tab-port') {
//         width: 100vw !important;
//         max-width: 100vw !important;
//     }
// }

.content-container {
    // max-width: 100rem;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoints.respond('tab-land') {
        max-width: 100%;
        width: 100%;
    }

    @include breakpoints.respond('phone') {
        padding: 0rem;
    }    
}

.placeholder {
    min-height: 100vh;
}

.sticky {
    position: sticky;
    top: calc(0rem + 6.4rem);
    height: calc(100vh - 6.4rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 3rem;
    padding-right: 1rem;

    @include breakpoints.respond('tab-port') {
        height: min-content;
        padding-bottom: 0;
        padding-right: 0;
        position: relative;
        margin-bottom: 0rem;
        top: 0;
    }
}

.search-sheet {
  position: fixed;
  top: 80px; /* Adjust based on navbar height */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
  background: white;
  z-index: 9999;
  overflow-y: auto;
  max-height: 400px;
  border: 1px solid #e0e0e0;

  @include breakpoints.respond('tab-land') {
    position: relative;
    top: 0%;
  }
}




