p {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.title-banner {
    // background-color: #f28080f4;    
    background-color: #303030f4;    
    padding: .5rem;
}

.yellowBackground {
    background-color: var(--yellow) !important;
}

.redBackground {
    background-color: var(--red) !important;

    & h2 {
        color: var(--white);
    }   
}

.purpleBackground {
    background-color: var(--purple) !important;

    & h2 {
        color: var(--white);
    }   
}

.blueBackground {
    background-color: var(--blue) !important;

    & p {
        color: var(--white);
    }
}

.content-container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.sticky {
    position: sticky;
    top: calc(0rem + 6.4rem);
    height: calc(100vh - 6.4rem);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 3rem;
    padding-right: 1rem;
}
